
<script src="~/Scripts/p5/p5.min.js"></script>
<script src="~/Scripts/p5/addons/p5.dom.min.js"></script>
<script src="~/Scripts/p5/addons/p5.sound.min.js"></script>

<div class="register-form">
    <div class="left-content">
    </div>
    <div class="center-content">

        <div class="box">
            <div class="form-box-signiture">
                <label>Подпис</label>
                <div class="convas-holder">
                    <div id="signiture-div" width="500" height="300">
                    </div>
                    <canvas id="signiture" width="500" height="300"></canvas>
                    <img name="signiture-img" style="display:none;">
                </div>
                <div>
                    <button class="clear" type="button" onclick="return clearSignature(this); return false;"><span>Изчисти</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="rigth-contentt">
    </div>
</div>

<script type="text/javascript">
    var mic, fft;

    function setup() {
        createCanvas(710,400);
        noFill();

        mic = new p5.AudioIn();
        mic.start();
        fft = new p5.FFT();
        fft.setInput(mic);
    }

    function draw() {
        background(200);

        var spectrum = fft.analyze();

        beginShape();
        for (i = 0; i<spectrum.length; i++) {
            vertex(i, map(spectrum[i], 0, 255, height, 0) );
        }
        endShape();
    }

</script>