@background-color: #fafafa;
@blue-color: #009fe3;
@logo-background-color: #f3f3f3;
@logo-text-color: #000;

.saturate {
    filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
}

#brightness() {
    filter: brightness(1.45);
    /*transition: ease-out;
    transition-duration: 50s;*/
}

.blur {
    filter: blur(3px);
}

.invert {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.rss.opacity {
    filter: opacity(50%);
}


* {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 40px;
    grid-gap: 0px;
    background-color: @background-color;
    grid-template-areas: "Logo" "content" "bottom";
}

.logo {
    background-color: white;
    color: @logo-text-color;
    display: flex;
    grid-template: "Logo";
}



.logo-flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}


.logo-menu {
    display: flex;
    align-items: center;

    a {
        color: #444;
        font-family: 'Armata', sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }

    .enter:hover{
        transform: scale(1.5) 1s;
    }

    > span {
        display: flex;
        align-items: center;
        margin: 0 0 0 15px;
        flex-flow: row;
        align-items: center;

        a {
            display: flex;
            flex-flow: row;
            align-items: center;
        }

        img {
            height: 35px;
        }

        &:hover:not(.enter), selected {
            color: #999;
            border-top-style: dotted;
            border-top-color: transparent;
            border-top-width: 2px;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color: coral;
        }
    }
}


.content{
    grid-area: content;
}



.register-form {
    grid-template: "Content";
    display: grid;
    grid-template-columns: auto 1000px auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: ". . ." "left center rigth" ". . .";
}



.left-content {
    grid-area: left;
    //background-color: aquamarine;
}

.center-content {
    grid-area: center;
    box-shadow: 12px 0 50px -4px rgba(31, 73, 125, 0.8), -12px 0 50px -4px rgba(31, 73, 125, 0.8);
    //background: linear-gradient(30);
    //background-color: azure;
    display: flex;
    flex-flow: column;
    padding: 5px 10px;
}

.rigth-content {
    grid-area: rigth;
    //background-color: aquamarine;
}


.upload-box div {
    margin-bottom: 10px;
}





.form-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 50px 0;
    flex-grow: auto;
    
    span {
        font-family: "PT Sans", sans-serif;
        font-size: 28px;
    }

    .contact-form-main {

        input[type=text], textarea {
            width: 450px;
        }


        form > div {
            margin-top: 15px;
        }

        .button-div {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
        }
    }

    .login-form-main {

        input[type=text], input[type=password], textarea {
            width: 350px;
        }


        form > div {
            margin-top: 15px;
        }

        .button-div {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
        }
    }
}

.bottom {
    grid-template: "bottom";
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
    span {
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: white;
    }
}

.links {
    grid-template: "links";
    display: grid;
    height: 300px;
    grid-template-rows: 50px auto 100px;
    grid-template-columns: auto 300px 300px 300px auto;
    background-color: #444;
    font-family: Round, sans-serif; 
    font-size: 14px;
    color: white;

    > .span-1 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    > .span-2 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    > .span-3 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        > * {
            margin-bottom: 5px;
        }

        a, a:visited {
            text-decoration: underline;
            color: white;
        }


        .heder {
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}
