.saturate {
  filter: saturate(3);
}
.grayscale {
  filter: grayscale(100%);
}
.contrast {
  filter: contrast(160%);
}
.blur {
  filter: blur(3px);
}
.invert {
  filter: invert(100%);
}
.sepia {
  filter: sepia(100%);
}
.huerotate {
  filter: hue-rotate(180deg);
}
.rss.opacity {
  filter: opacity(50%);
}
* {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.main-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto auto auto auto auto 40px;
  grid-gap: 0px;
  background-color: #fafafa;
  grid-template-areas: "Logo" "big-image" "compensation-type" "compensation-amount" "compensation-step" "links" "bottom";
}
.logo {
  background-color: white;
  color: #000;
  display: flex;
  grid-template: "Logo";
}
.logo-flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.logo-image {
  display: flex;
  align-items: center;
}
.logo-image a {
  font-family: 'Armata', sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}
.logo-menu {
  display: flex;
  align-items: center;
}
.logo-menu a {
  color: #444;
  font-family: 'Armata', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.logo-menu .enter:hover {
  transform: scale(1.5) 1s;
}
.logo-menu > span {
  display: flex;
  margin: 0 0 0 15px;
  flex-flow: row;
  align-items: center;
}
.logo-menu > span a {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.logo-menu > span img {
  height: 35px;
}
.logo-menu > span:hover:not(.enter),
.logo-menu > span selected {
  color: #999;
  border-top-style: dotted;
  border-top-color: transparent;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: coral;
}
.big-image {
  grid-template: "big-image";
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 100px 400px 100px auto;
  grid-template-rows: repeat(5, 1fr);
}
.big-image > div.image-plaine {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-image > div.background-big-image {
  background-image: url('/Content/Assets/обезщетение-при-полет.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 5;
  filter: opacity(85%);
  z-index: 1;
}
.big-image > * {
  z-index: 100;
}
.big-image .header-text {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  color: #222;
  display: flex;
  align-content: center;
  justify-content: center;
}
.big-image .header-text span {
  font-family: "PT Sans", sans-serif;
  font-size: 45px;
  font-weight: 800;
  margin: auto 30px auto auto;
}
.big-image .header-subtext {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-image .header-subtext p {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  color: #233;
  width: 700px;
  text-align: center;
}
.big-image .header-button {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  display: flex;
  align-content: center;
  justify-content: flex-end;
}
.big-image .header-button a {
  margin: auto 30px auto auto;
}
.span-1 {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}
.span-2 {
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 3;
}
.span-3 {
  grid-row: 2;
  grid-column-start: 4;
  grid-column-end: 4;
}
.compensation-type {
  grid-template: "compensation-type";
  grid-template-columns: auto 400px 400px 400px auto;
  grid-template-rows: 200px auto 50px;
  grid-column-gap: 10px;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
}
.compensation-type span {
  color: #255;
  text-align: center;
  margin: auto auto auto auto;
}
.compensation-type .header-text {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 600;
  color: #03030d;
  display: flex;
  align-content: center;
  justify-content: center;
}
.compensation-type .header-text span {
  display: flex;
}
.compensation-type .span {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}
.compensation-type .span > * {
  margin-top: 15px;
}
.compensation-type .span > span {
  font-size: 28px;
  font-weight: 500;
  color: #009fe3;
}
.compensation-type .span > p {
  font-size: 14px;
  font-weight: 500;
  color: grba(2, 2, 14, 1);
}
.compensation-type .span .image {
  display: grid;
  grid-template-columns: auto 250px auto;
  grid-template-rows: 250px;
}
.compensation-type .span .image div {
  grid-row: 1;
  grid-column: 2;
  border: solid 4px #009fe3;
  box-shadow: 0 0 8px #009fe3;
  border-radius: 100%;
}
.compensation-type .span .image.image-delay > div {
  background-image: url('/Content/Assets/закъснение-полет.png');
  background-position-x: 300px;
  background-size: 450px;
}
.compensation-type .span .image.image-cancel > div {
  background-image: url('/Content/Assets/излитащ-самолет.jpg');
  background-position-x: 250px;
  background-size: 450px;
}
.compensation-type .span .image.image-denied-bording > div {
  background-image: url('/Content/Assets/отказан-достъп-до-борда-1.jpg');
  background-position-x: 350px;
  background-size: 380px;
}
.compensation-amount {
  grid-template: "compensation-amount";
  grid-template-columns: auto 400px 400px 400px auto;
  grid-template-rows: 100px auto 50px;
  grid-column-gap: 10px;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
}
.compensation-amount > div.background {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 6;
  background-image: url('/Content/Assets/Background/обезщетение-в-зависимост-от-разтоянието-на-полета.jpg');
  background-position: center;
  filter: opacity(20%);
  z-index: 1;
}
.compensation-amount * {
  z-index: 100;
}
.compensation-amount span {
  color: #222;
  text-align: center;
  margin: auto auto auto auto;
}
.compensation-amount .header-text {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 600;
  color: #03030d;
  display: flex;
  align-content: center;
  justify-content: center;
}
.compensation-amount .header-text span {
  display: flex;
}
.compensation-amount .span {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}
.compensation-amount .span > * {
  margin-top: 8px;
}
.compensation-amount .span > span.text-black {
  font-size: 22px;
  font-weight: 600;
}
.compensation-amount .span > span.text-blue {
  font-size: 32px;
  font-weight: 700;
  color: #009fe3;
}
.compensation-amount .span .image img {
  display: block;
  height: 250px;
  margin: auto;
}
.compensation-steps {
  grid-template: "compensation-steps";
  grid-template-columns: auto 400px 400px 400px auto;
  grid-template-rows: 100px auto 50px;
  grid-column-gap: 10px;
  display: grid;
  font-family: "PT Sans", Helvetica, sans-serif;
  background-color: #009fe3;
}
.compensation-steps span {
  text-align: center;
  margin: auto auto auto auto;
}
.compensation-steps .header-text {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  align-content: center;
  justify-content: center;
}
.compensation-steps .header-text span {
  display: flex;
}
.compensation-steps .span {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}
.compensation-steps .span > * {
  margin-top: 8px;
}
.compensation-steps .span > span.text-black {
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: 600;
}
.compensation-steps .span > p {
  margin: 10px auto;
  text-align: center;
  width: 250px;
  font-size: 14px;
}
.compensation-steps .span .image img {
  display: block;
  height: 80px;
  margin: auto;
}
.register-form {
  grid-template: "Content";
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: ". . ." "left center rigth" ". . .";
}
.data-content {
  grid-template: "Content";
  display: grid;
  grid-template-columns: auto 1200px auto;
  grid-template-areas: "left center rigth";
  padding: 50px 50px;
}
.data-content .center-content h2 {
  margin: 10px 0 0 0;
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
}
.data-content .center-content p {
  text-align: left;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}
.data-content .info-page {
  grid-area: center;
  padding: 30px 30px;
}
.data-content .info-page h1 {
  margin: 10px 0 0 0;
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
}
.data-content .info-page h2 {
  margin: 10px 0 0 0;
  font-family: "PT Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.data-content .info-page p {
  text-align: left;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}
.left-content {
  grid-area: left;
}
.center-content {
  grid-area: center;
  box-shadow: 12px 0 50px -4px rgba(31, 73, 125, 0.8), -12px 0 50px -4px rgba(31, 73, 125, 0.8);
  display: flex;
  flex-flow: column;
  padding: 5px 10px;
}
.rigth-content {
  grid-area: rigth;
}
.form-row {
  margin: 15px 0 0 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: space-around;
}
.form-row-choise {
  margin: 5px 0 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-row-choise label {
  margin: 20px 0 0 0;
  display: inline-flex;
}
.form-row-yes-no,
.form-row-rodio {
  margin: 5px 0 0 50px;
  display: grid;
  padding: 0 0 0 10px;
  grid-template-columns: 80px 80px auto;
}
.form-row-yes-no label,
.form-row-rodio label {
  margin: 10px 0 0 0;
  display: inline-flex;
}
.form-box {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.form-box.left label {
  margin-left: 50px;
}
.form-box.left input[type=text],
.form-box.left ul {
  margin-left: 50px;
}
.form-box.rigth label {
  margin-left: 20px;
}
.form-box.rigth input[type=text],
.form-box.rigth ul {
  margin-left: 20px;
}
.form-box-width {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.form-box-width label {
  margin-left: 50px;
}
.form-box-width textarea {
  margin-left: 50px;
  width: 860px;
}
.form-box-width input[type=text] {
  width: 860px;
  margin-left: 50px;
}
.form-box-upload {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
.form-box-upload > div {
  margin-left: 50px;
}
.form-box-upload > label {
  margin-left: 60px;
}
.form-box-signiture {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.form-box-signiture > div {
  margin-left: 50px;
}
.form-box-signiture > label {
  margin-left: 60px;
}
.width {
  width: 100%;
  display: flex;
  flex-flow: column;
}
#connectionAirPorts {
  margin-left: 50px;
}
.form-box-connection {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin: 8px 0 0 0;
}
.form-box-connection > div {
  flex-flow: column;
  width: 410px;
}
.form-box-connection:first-child button.bDelete {
  display: none;
  margin-left: 10px;
}
.upload-box div {
  margin-bottom: 10px;
}
.list-container {
  margin: 50px 50px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
}
.list-container a:nth-child(odd) > div > div {
  background-color: #ccc;
}
.list-container a:nth-child(even) > div > div {
  background-color: #eee;
}
.list-container .claim-list {
  display: grid;
  grid-template-columns: 100px 200px 200px 200px 100px 100px;
  grid-template-rows: 30px;
  grid-gap: 5px;
}
.list-container .claim-list > div {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding-left: 4px;
  border-radius: 3px;
}
.list-container .claim-list > div > label {
  font-size: 15px;
  cursor: pointer;
  height: 20px;
  margin: auto 0;
}
.contact-main {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  padding: 40px;
  font-family: "PT Sans", sans-serif;
}
.contact-main > div {
  width: 700px;
  margin: 10px auto 0 auto;
}
.contact-main .contact-data > div {
  margin: 15px 0 0 0;
}
.contact-main .title {
  width: 700px;
  margin: 0;
  font-size: 18px;
  padding-left: 0;
}
.contact-main .value {
  width: 700px;
  margin: 0;
  font-size: 18px;
  color: #009fe3;
  padding-left: 0;
}
.contact-main p {
  text-align: justify;
}
.form-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 50px 0;
  flex-grow: auto;
}
.form-content span {
  font-family: "PT Sans", sans-serif;
  font-size: 28px;
}
.form-content .contact-form-main input[type=text],
.form-content .contact-form-main textarea {
  width: 450px;
}
.form-content .contact-form-main form > div {
  margin-top: 15px;
}
.form-content .contact-form-main .button-div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.form-content .login-form-main input[type=text],
.form-content .login-form-main input[type=password],
.form-content .login-form-main textarea {
  width: 350px;
}
.form-content .login-form-main form > div {
  margin-top: 15px;
}
.form-content .login-form-main .button-div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.bottom {
  grid-template: "bottom";
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom span {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.links {
  grid-template: "links";
  display: grid;
  height: 300px;
  grid-template-rows: 50px auto 100px;
  grid-template-columns: auto 300px 300px 300px auto;
  background-color: #444;
  font-family: Round, sans-serif;
  font-size: 14px;
  color: white;
}
.links > .span-1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.links > .span-2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.links > .span-3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}
.links .span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.links .span > * {
  margin-bottom: 5px;
}
.links .span a,
.links .span a:visited {
  text-decoration: underline;
  color: white;
}
.links .span .heder {
  font-size: 18px;
  text-transform: uppercase;
}
.form-box > a > img {
  width: 330px;
  margin-left: 60px;
}
.form-row-list > div {
  padding: 20px 0 0 110px;
}
.form-row-list > div > label,
.form-row-list > div div > label {
  margin-left: 0;
  padding-left: 0;
}
.form-row-list > div > label {
  margin-top: 10px;
}