.saturate {
  filter: saturate(3);
}
.grayscale {
  filter: grayscale(100%);
}
.contrast {
  filter: contrast(160%);
}
.blur {
  filter: blur(3px);
}
.invert {
  filter: invert(100%);
}
.sepia {
  filter: sepia(100%);
}
.huerotate {
  filter: hue-rotate(180deg);
}
.rss.opacity {
  filter: opacity(50%);
}
* {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.main-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 40px;
  grid-gap: 0px;
  background-color: #fafafa;
  grid-template-areas: "Logo" "content" "bottom";
}
.logo {
  background-color: white;
  color: #000;
  display: flex;
  grid-template: "Logo";
}
.logo-flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.logo-menu {
  display: flex;
  align-items: center;
}
.logo-menu a {
  color: #444;
  font-family: 'Armata', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.logo-menu .enter:hover {
  transform: scale(1.5) 1s;
}
.logo-menu > span {
  display: flex;
  margin: 0 0 0 15px;
  flex-flow: row;
  align-items: center;
}
.logo-menu > span a {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.logo-menu > span img {
  height: 35px;
}
.logo-menu > span:hover:not(.enter),
.logo-menu > span selected {
  color: #999;
  border-top-style: dotted;
  border-top-color: transparent;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: coral;
}
.content {
  grid-area: content;
}
.register-form {
  grid-template: "Content";
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: ". . ." "left center rigth" ". . .";
}
.left-content {
  grid-area: left;
}
.center-content {
  grid-area: center;
  box-shadow: 12px 0 50px -4px rgba(31, 73, 125, 0.8), -12px 0 50px -4px rgba(31, 73, 125, 0.8);
  display: flex;
  flex-flow: column;
  padding: 5px 10px;
}
.rigth-content {
  grid-area: rigth;
}
.upload-box div {
  margin-bottom: 10px;
}
.form-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 50px 0;
  flex-grow: auto;
}
.form-content span {
  font-family: "PT Sans", sans-serif;
  font-size: 28px;
}
.form-content .contact-form-main input[type=text],
.form-content .contact-form-main textarea {
  width: 450px;
}
.form-content .contact-form-main form > div {
  margin-top: 15px;
}
.form-content .contact-form-main .button-div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.form-content .login-form-main input[type=text],
.form-content .login-form-main input[type=password],
.form-content .login-form-main textarea {
  width: 350px;
}
.form-content .login-form-main form > div {
  margin-top: 15px;
}
.form-content .login-form-main .button-div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.bottom {
  grid-template: "bottom";
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom span {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.links {
  grid-template: "links";
  display: grid;
  height: 300px;
  grid-template-rows: 50px auto 100px;
  grid-template-columns: auto 300px 300px 300px auto;
  background-color: #444;
  font-family: Round, sans-serif;
  font-size: 14px;
  color: white;
}
.links > .span-1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.links > .span-2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.links > .span-3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}
.links .span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.links .span > * {
  margin-bottom: 5px;
}
.links .span a,
.links .span a:visited {
  text-decoration: underline;
  color: white;
}
.links .span .heder {
  font-size: 18px;
  text-transform: uppercase;
}