<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Content/css/grid-layout.css" rel="stylesheet" />
    <link href="~/Content/css/input-style.css" rel="stylesheet" />
    
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Armata|Libre+Barcode+128+Text|Voces" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/datepicker-bg.js"></script>

</head>
<body>
    <div class="main-layout">

        <div class="logo">

            <div class="logo-flex-container">
                <div class="logo-image">
                    <a href="/" style="font-family: Round; font-weight: 700; font-size: 45px;">
                          <span style="color: blue">HELP</span>
                          <span style="color: #909090; font-size: 55px;">4</span>
                          <span style="color:blueviolet">Fligth</span>
                    </a>
                </div>
                <div class="logo-menu">
                    <span class=""><a href="/обезщетение-списък">ИСКОВЕ</a></span>
                    <span class=""><a href="/проблеми-с-полета/често-задавани-въпроси">ВЪПРОСИ</a></span>
                    <span><a href="/обезщетение-при-полет">ПОДАЙ ИСК</a></span>
                    <span class="selected"><a href="/за-нас">ЗА НАС</a></span>
                    <span><a href="/контакти">КОНТАКТИ</a></span>
                    <span class="enter"><a href="/вход">  <img src="~/Content/Assets/Icon/login.png" /> <span style="margin:  0 0 0 5px;"> ВХОД </span></a> </span>

                </div>
            </div>


        </div>

        @RenderBody()

        <div class="bottom">

            <span>Коеф ООД е регистриран като администратор на лични данни с номер 529654</span>

        </div>

    </div>
   
</body>
</html>
