
<div class="big-image">
    <div class="background-big-image">
    </div>
    <div class="image-plaine">
        <img src="~/Content/Assets/Airplane/airplane1.png" style="display:block; margin: auto auto; width: 400px;" />
    </div>
    <div class="header-text">
        <span>Имате проблеми с полета? </span>
    </div>
    <div class="header-subtext">
        <p>При закъснял или отменен полет, както и отказан достъп до борда в последните 3 години, имате право да получите обезщетение в размер до 600 €.</p>
    </div>
    <div class="header-button">
        <a href="/обезщетение-при-полет"> <button class="button-home"> иск за обезщетение </button> </a>
    </div>

</div>
<div class="compensation-type">
    <div class="header-text">
        <span>Имате право на обезщетениe в случай на </span>
    </div>
    <div class="span span-1">
        <span> Закъснял полет </span>
        <div class="image image-delay">
            <div></div>
        </div>
        <p>Lorem ipsom dolor sit amet conterpaturus</p>
        <a href="/обезщетение-при-полет/закъснял-полет"> <button class="button-smal"> подай иск </button> </a>
    </div>
    <div class="span span-2">
        <span> Отменен полет </span>
        <div class="image image-cancel">
            <div></div>
        </div>
        <p>Lorem ipsom dolor sit amet conterpaturus</p>
        <a href="/обезщетение-при-полет/отменен-полет"> <button class="button-smal"> подай иск </button> </a>

    </div>
    <div class="span span-3">
        <span>Отказан достъп до борда </span>
        <div class="image image-denied-bording">
            <div></div>
        </div>
        <p>Lorem ipsom dolor sit amet conterpaturus</p>
        <a href="/обезщетение-при-полет/отказан-досъп-до-борд"> <button class="button-smal"> подай иск </button> </a>
    </div>

</div>

<div class="compensation-amount">
    <div class="background">

    </div>
    <div class="header-text">
        <span> Размер на обезщетението </span>
    </div>
    <div class="span span-1">
        <div class="image">

            <img src="~/Content/Assets/Icon/distance2.png" />
        </div>
        <span class="text-black"> Полети до 1500 км </span>
        <span class="text-blue"> €250</span>
    </div>
    <div class="span span-2">
        <div class="image">

            <img src="~/Content/Assets/Icon/distance4.png" />
        </div>
        <span class="text-black"> Полети от 1500 до 3500 км </span>
        <span class="text-blue"> €450</span>

    </div>
    <div class="span span-3">
        <div class="image">

            <img src="~/Content/Assets/Icon/distance3.png" />
        </div>
        <span class="text-black"> Полети над 3500 км </span>
        <span class="text-blue"> €600</span>
    </div>

</div>

<div class="compensation-steps">
    <div class="header-text">
        <span> Как да получа своето обезщетение </span>
    </div>
    <div class="span span-1">
        <div class="image">
            <img src="~/Content/Assets/Icon/cc-icon-01.svg" />

        </div>
        <span class="text-black"> Подайте онлйн иск </span>
        <p>Попълнете нашата веб форма, ще отнеме само няколко минути. </p>
    </div>
    <div class="span span-2">
        <div class="image">
            <img src="~/Content/Assets/Icon/cc-icon-02.svg" />
        </div>
        <span class="text-black"> Без време и усилия </span>
        <p> Ще поемем комуникацията с авиокомпанията и ще се преборим за Вашето заслужено обезщетение. </p>
    </div>
    <div class="span span-3">
        <div class="image">
            <img src="~/Content/Assets/Icon/cc-icon-03.svg" />
        </div>
        <span class="text-black"> Без начално плащане </span>
        <p>Само ако успешно се преборим за обезщетението Ви, ще удържим 25% комисиона от размера му. </p>
    </div>

</div>

<div class="links">

    <div class="span-1 span">
        <span class="heder">Документи </span>
        <a href="~/Content/Docs/eu_complaint_form_bg-261.pdf" target="_blank">директива 261/2004-бг </a>
        <a href="~/Content/Docs/eu_complaint_form_bg-261.pdf" target="_blank">директива 261/2004-en </a>
        <a href="~/Content/Docs/eu_complaint_form_bg.pdf" target="_blank">бланка-бг </a>
        <a href="~/Content/Docs/eu_complaint_form_en.pdf" target="_blank">бланка-en </a>
       
    </div>
    <div class="span-2 span">
        <span class="heder">Коеф ООД</span>
        <a href="~/контакти" target="_blank">за котакти</a>
        <a href="~/за-нас" target="_blank">за нас</a>
        <span>тел: 0885 504656</span>
        <span>емайл: koef@mail.bg</span>

    </div>
    <div class="span-3 span">
        <span class="heder">Правна информация</span>
        <a href="~/пpолитика-на-поверителност">декларация за поверителност</a>
        <a href="~/общи-условия">общи условия</a>
        <a href="~/проблеми-с-полета/често-задавани-въпроси">често-задавани-въпроси</a>
        <a href="#">цени на услугите</a>
    </div>

</div>

