<div class="register-form">
    <div class="left-content">
    </div>
    <div class="center-content">

        <div class="box">
            <div class="form-box-signiture">
                <label>Подпис</label>
                <div class="convas-holder">
                    <div id="signiture-div" width="500" height="300">
                    </div>
                    <canvas id="signiture" width="500" height="300"></canvas>
                    <img name="signiture-img" style="display:none;">
                </div>
                <div>
                    <button class="clear" type="button" onclick="return clearSignature(this); return false;"><span>Изчисти</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="rigth-contentt">
    </div>
</div>