<div class="data-content">
    <div class="info-page">
        <h1 id="-">Общи условия за ползване</h1>
        <p>
            Настоящите Общи условия представляват споразумение между Вас (като потребител и/или посетител) и “Клеймкомпас” ЕООД (наричано по-долу “Koef OOD”),
            касаещо условията, при които Koef OOD предлага информацията, софтуера, продуктите и услугите, предоставени на или чрез www.Koef OOD.eu
            (наричани “Услугите” или “Koef OOD.eu”). Услугите се предлагат само в случай, че се приемат настоящите общи условия, правила и клаузи в този документ.
        </p>
        <h2 id="1-">1. Терминология</h2>
        <p>1.1. "Споразумение": споразумение между клиента и Koef OOD, до което се стига след прочитане и приемане на тези Условия за ползване от клиента.</p>
        <p>1.2. "Koef OOD": "Клеймкомпас" ЕООД, регистрирано в България с адрес: обл. София, общ. Възраждане, гр. София, ул. "Средна гора" 73, ап. 8.</p>
        <p>
            1.3. "Пълномощно": документът, с който клиентът предоставя представителна власт на Koef OOD,
            тоест предоставя правото си да се представлява и да извършва дадени действия от свое име.
        </p>
        <p>
            1.4. "Иск": всеки иск срещу авиокомпания за парично обезщетение на пътник, произлизащ от правото на обезщетение от Европейски Регламент 261/2004.
        </p><p>1.5. "Клиент": всяко физическо лице, което приема тези Условия за ползване.</p>
        <p>
            1.6. "Обезщетение": парична сума, която трябва да бъде изплатена на самолетен пътник от авиокомпания.
        </p>
        <p>
            1.7. "Регламент 261/2004": Европейски Регламент № 261/2004 на Европейския Парламент и на Съвета от 11 февруари 2004г.
            относно създаване на общи правила за обезщетяване и помощ на пътниците при отказан достъп на борда и отмяна или голямо закъснение на полети.
        </p>
        <p>
            1.8. "Калкулатор на обезщетение": страница на сайта на Koef OOD.eu, в която всеки клиент/потребител може да изчисли вероятността за получаване на
            обезщетение и неговия размер. Размерът на обезщетението, показан в крайния резултат от попълването на всички полета, не представлява обвързващо предложение за
            договор от страна на Koef OOD.
        </p>
        <p>
            1.9. "Комисиона на Koef OOD": комисиона в размер на 25% (вкл. ДДС), която се удържа от размера на обезщетението, изплатено от авиокомпанията.
        </p><h2 id="2-">2. Общи приложения</h2><p>
            2.1. Общите условия обвързват всички потребители. С натискане на бутона "Прочетох и съм съгласен с Общите условия",
            потребителят/клиентът се съгласява, изцяло приема и се задължава да спазва настоящите Общи условия.
        </p>
        <p>
            2.2. Идентифициране на потребителя/клиента с цел възпроизвеждане на изявлението му както за приемане на Общите условия,
            така и за сключеното споразумение, се извършва чрез съхранените в лог-файлове на сървъра на Koef OOD.eu и съхранение на IP адреса на потребителя/клиента.
        </p>
        <h2 id="3-">3. Споразумение</h2>
        <p>
            3.1. С попълване на всички полета в "Калкулатора на обезщетение", съгласие с Общите условия и изпращане на заявката за използване на услугите на Koef OOD,
            клиентът прави правно обвързващо предложение към Koef OOD за сключване на споразумение. Споразумението се сключва само,
            ако Koef OOD приеме да обработи Иска на Клиента.
        </p>
        <p>
            3.2. Клиентът гарантира, че Искът му не е бил прехвърлян на други физически и юридически лица, както и че по Искът няма заведено съдебно производство.
            Клиентът се съгласява да не ангажира други физически или юридически лица с работа по Иска след подписване на Пълномощното. Всякакви съществуващи споразумения,
            свързани с Иска, трябва да бъдат прекратени преди подписване на Пълномощното.
        </p>
        <p>3.3. Споразумението се смята за приключено, когато:</p>
        <p>
            3.3.1. Обезщетението е било изплатено в пълен размер от авиокомпанията към Koef OOD и уговорената
            сума е била преведена от Koef OOD към Клиента след удържане на Комисиона;
        </p>
        <p>3.3.2. Обезщетението е било изплатено в пълен размер от авиокомпаията към Клиента и Клиентът е заплатил към Koef OOD уговорената Комисиона;</p>
        <p>
            3.3.3. Koef OOD е установил и информирал Клиента, че с оглед на обстоятелствата по Иска Koef OOD не
            може да продължи работа по него.
        </p>
        <h2 id="4-Koef OOD">4. Услуги на Koef OOD</h2>
        <p>
            4.1. Koef OOD се грижи за успешното осигуряване на обезщетение на самолетни пътници на база на Европейски Регламент 261/2004, като събира вземания от авиокомпании,
            дължащи обезщетение.
        </p>
        <p>
            4.2. Koef OOD работи за осигуряването на обезщетение за клиента по възможност чрез извънсъдебно споразумение, но при нужда
            и чрез съдебен процес срещу авиокомпанията. Ако усилията на Koef OOD в комуникацията с авиокомпанията не са
            достатъчни и не дадат резултат в уместен срок, Koef OOD работи с адвокати за осигуряването на обезщетение.
            Преди назначаването на адвокат по случая на даден клиент, се изисква изричното съгласие на клиента да бъде представляван от адвоката, партньор на Koef OOD, пред съда.
            Клиентът не заплаща за услугите на адвоката - те се поемат изцяло от Koef OOD. При успех на делото Koef OOD удържа комисиона от 25% (включваща ДДС) от размера от обезщетението.
        </p>
        <p>
            4.3. Размерът на паричното обезщетение, което всеки клиент може да провери в "Калкулатора на обезщетение" сред страниците на www.Koef OOD.eu,
            не представлява обвързващо предложение за договор. Крайната цена на услугите на Koef OOD се прилага след успешно осигуряване 
            на обезщетение за клиента и представлява комисиона от 25% (включваща ДДС) от размера на обезщетението.
        </p>
        <p>
            4.4. За да започне работа по Иск, Koef OOD има нужда от подписано от клиента Пълномощно.
            Клиентът може да подпише пълномощното в личния си профил на сайта на Koef OOD или да го изпрати по имейл или по пощата.
        </p>
        <p>
            4.5. В случай на грешно предоставена информация или опит за измама (като поставяне на невалиден или фалшифициран подпис)
            Koef OOD запазва правото да прекрати Споразумението без предизвестие. Ако Споразумението е приключено в съответствие с този параграф, 
            Клиентът няма право да изисква от Koef OOD предоставяне на услуги или Обезщетение.
        </p>
        <h2 id="5-">5. Плащане и комисиона</h2>
        <p>5.1. Koef OOD получава комисиона само при успешно осигуряване на обезщетението за клиента. В случай на неуспех, клиентът не е задължен да заплаща услугите на Koef OOD.</p>
        <p>
            5.2. Размерът на комисионата представлява 25% от сумата на обезщетението и включва ДДС.
            Koef OOD се бори за пълната сума на заслуженото обезщетение за клиента и не приема предложения от авиокомпанията да се заплати по-малка от заслужената сума, 
            както и да изпратят на клиента ваучери вместо парично обезщетение.
        </p>
        <p>
            5.3. В случай на решаване на спора чрез съдебен процес и решение на съда, според което клиентът получава само част от сумата на обезщетението,
            Koef OOD взима комисиона в размер на 25% само от сумата, която съдът отсъжда за клиента.
        </p>
        <p>
            5.4. Според пълномощното, което клиентът издава на Koef OOD, Koef OOD има право да вземе уговорената комисиона от сумата на обезщетението,
            преди да преведе останалата част по сметката на клиента.
        </p>
        <p>5.5. Веднага след получаване на сумата на обезщетението и задържане на комисионата, Koef OOD е задължен в максимално кратък срок да изплати останалата 
        част от обезщетението на клиента.</p>
        <p>
            5.6. Клиентът се задължава да сподели на Koef OOD информация за своята банкова сметка, за целите на банковия превод на сумата от обезщетението.
            Koef OOD се задължава да избере най-изгодния начин за паричен превод, като предпочита опциите банков превод или Paypal.
            Всякакви банкови и други такси по превода се поемат от клиента.
        </p>
        <p>
            5.7. Ако Обезщетението от авиокомпанията бъде получено в пълен размер от Клиента,
            Клиентът се задължава да плати Комисионата на Koef OOD при покана за плащане и във възможно най-кратък срок.
            Ако Клиентът получи директен превод от авиокомпанията след сключване на настоящето Споразумение,
            Клиентът се задължава да информира Koef OOD без забавяне.
        </p>
        <h2 id="6-">6. Права и задължения на клиента</h2>
        <p>
            6.1. Клиентът има възможност да разглежда сайта на Koef OOD.eu и да отправя предложение за сключване на споразумение за използване на услугите на Koef OOD
            чрез съответните форми.
        </p>
        <p>6.2. Клиентът има право да се информира за състоянието на своя иск за обезщетение чрез личния си профил на сайта или като се свърже с Koef OOD.</p>
        <p>
            6.3. Клиентът носи пълна отговорност за опазването на своето потребителско име и парола,
            както и за всички действия, които се извършват от него или от трето лице чрез използване на потребителското име и паролата.
            Потребителят е длъжен незабавно да уведомява Koef OOD за всеки случай на неправомерен достъп чрез използване на неговото потребителско име и парола, както и винаги,
            когато съществува опасност от такова използване.
        </p>
        <p>
            6.4. Всеки клиент на Koef OOD се задължава да помага за успешното провеждане на процедурата по изискване на обезщетение,
            ато предоставя нужната информация, документи и доказателства (напр. бордна карта, резервация).
            Клиентът се задължава да изпраща всякаква полезна информация,
            която има отношение към правото му на обезщетение, към Koef OOD незабавно след получаването й.
            Клиентът се задължава незабавно да информира Koef OOD,
            ако авиолинията се свърже директно с него и му изпрати заместител на обезщетението (напр. ваучер или талон за намаление).
        </p>
        <p>
            6.5. След договорно обвързване с Koef OOD и съгласие за ползване на услугите ни,
            клиентът е задължен да не се свързва с други фирми и агенти, предоставящи същите услуги.
            Клиентът не може да предприема никакво друго правно действие срещу авиокомпанията самостоятелно. 
            При желание да предприеме други действия, които не се включват в услугите на Koef OOD, 
            срещу авиокомпанията, клиентът може да го направи само със съгласието на Koef OOD.
        </p>
        <p>
            6.6. Клиентът има право да се откаже от услугите на Koef OOD след сключване на споразумение.
            Условията за отказ от услугите са описани в секция 8 от настоящите Общи условия.
        </p>
        <h2 id="7-Koef OOD">7. Права и задължения на Koef OOD</h2>
        <p>
            7.1. Koef OOD има право да откаже да поеме случай и да предостави услугите си на клиент, отправил предложение
            за споразумение чрез сайта Koef OOD.eu.
        </p>
        <p>
            7.2. Общите условия могат да бъдат променяни по всяко време от Koef OOD.
            Koef OOD се задължава да уведоми потребителя/клиента за промените в Общите условия, като на видно място в страницата www.Koef OOD.eu
            публикува съобщение за измененията им и даде достатъчен срок да се запознае с тях.
        </p>
        <p>
            7.3. Koef OOD си запазва правото по всяко време да прекратява или ограничава достъпа до сайта Koef OOD.eu и предоставяните услуги.
            Koef OOD си запазва правото да модифицира или прекратява (временно или окончателно) елемент от услугите си.
        </p>

        <h2 id="8-">8. Право на потребителя да се откаже от споразумението</h2>
        <p>
            8.1. Всеки потребител, сключил споразумение с Koef OOD, има право да се откаже от него в срок от 14 дни след сключването му без да назовава причина за решението си.
            Прекратяването на споразумението може да бъде изпратено до Koef OOD във всякаква писмена форма (писмо, имейл) и може да бъде написано в свободен текст.
            За свое удобство, клиентът може да използва тази <a href="" data-toggle="modal" data-target="#templateModal">форма</a>.
        </p>
        <p>8.2. Клиентът не може да се откаже от споразумението си с Koef OOD, ако услугата вече е довела до успешно получаване на обезщетение преди датата на писмен отказ.</p>

        <h2 id="9-">9. Заключителни разпоредби</h2>
        <p>Без значение в коя държава се намира клиентът, използващ услугите на “Коеф” ЕООД, при възникнал спор се прилага правото на Република България.</p>
        <p>
            <em>Последно обновяване: 30.01.2018</em>
        </p>

    </div>
</div>



